.profile {
    display: flex;
}
.header {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
}

.profile__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3em 5em;
    gap: 1em;
}

.main__user {
}
.main__add {
}
.main__education {
}
.main__experience {
}
.main__language {
}
.main__other-data {
}
.main__other-info {
}
.main__skills {
}
.main__status-preferences {
}
.header__user {
    margin: 5em 0 0 5em;
}
.profile__aside {
}
.aside {
}
.profile__footer {
    
}


.footer {
    

}



.main__aptitudes{
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: .5em;
}

.main__aptitudes-item{
	display: flex;
    gap: 1em;
    padding: 1.5em;
}
.aptitudes__item-title{
    display: flex;
	justify-content: center;
    align-items: center;
    gap: .3em;
    border: 1px solid rgba(69, 68, 68, 0.705);
    padding: .3em .4em;
    border-radius: 1em;
    background: #FFF;
    font-size: 1em;
    color: #55585A;
}
.aptitudes__item-img{
    width: 1em;
    height: auto;
}

.aptitudes__header{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
}
.aptitudes__header-title{
    font-size: 1.2em;
    font-weight: 500;
    color: #2D3133;
    margin: .6em 2em;
}
.aptitudes__header-buttom{
    padding: .5em;
    margin: .6em 2em;
    border: 2px solid #328DBF;
    border-radius:.4em;
    color: #328DBF ;
    font-size: .8em;
    font-weight: 600;
}