.selection {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	width: 100%;
	background-color: #fdfdfd;
    opacity: 0.8;
    background-image:  linear-gradient(#7e7e896a 1px, transparent 1px), linear-gradient(to right, #7e7e896a 1px, #e5e5f7 1px);
    background-size: 30px 30px;
}
.selection__questions {
	display: flex;
	justify-content: center;
	margin-top: 7em;
	max-width: 85em;
	gap: 2em;
	flex-wrap: wrap;
}
.selection__questions-content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	max-width: 26em;
	height: 22em;
	background: rgba(255, 255, 255, 0.845);
	border-radius: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.059);
	box-shadow: var(--shadow-elevation-medium);
}
.selection__questions-description {
	color: #565657fc;
	margin: 0 1em;
}
.selection__questions-grade {
    color: #636364b2;
    font-size: .9em;
    font-weight: 300;
}
.selection__questions-title {
	font-size: 1.5em;
	margin: 1em;
	color: #0f172a;
}
.selection__title {
    color: #4598C6;
}
.selection__questions-button {
	width: 10em;
	height: 2.5em;
	background: rgba(255, 255, 255, 0.61);
	border: 1px solid #636364fc;
	font-weight: 500;
	border-radius: 0.5em;
    color: #636364fc;
}
.selection__questions-button:hover {
	border: 1px solid #535354fc;
    color: #404040fc;
}



.selection__questions-interactive{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}


